.chart{
    margin: 20px;
    padding: 20px;
    box-shadow: 10px 10px 14px -24px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 14px -24px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 14px -24px rgba(0,0,0,0.75);
}

.chartTitle{
    margin-bottom: 20px;
}